form > div{
    padding: 15px;
    border: 1px solid lightskyblue;
    width: 300px;
    margin: 10px;
}
input,
textarea{
    border: 1px solid lightskyblue;
    padding: 5px;
}
textarea{
    width: 200px;
    height: 50px;
    resize: none;
}