body {
    background: #37cfff;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

#block1, #block2 {
    width: 400px;
    height: 200px;
    background: #c8effc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

button {
    font-size: 30px;
    display: inline-block;
    background: #efc8fc;
    margin-right: 50px;
    margin-left: 50px;
}

button:hover {
    background: #d0d0d0;
    cursor: pointer;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, label {
    border-radius: 5px;
    cursor: pointer;
    background: #c8effc;
}